#map {
    height: 450px;
    margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	z-index: 1;
	border-style:groove ;
}

.posts_about{
	padding:2%;
}
.twocolumns{
	display:flex;
	.column1{
		text-align: justify;
		flex: 5;
	}
	.column2{
		text-align: center;
		flex: 1;
	}
}