/* # for id
. for class */
@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

/* Overall */
/* 1. BODY */
body {
	font-size: 28px;
	font-family: "Merriweather, Georgia, serif";
	background-color: #333;
	display:flex;
	flex-direction: column;
}

  /*2. NAVBAR */
  #navbar {
	display: flex;
	justify-content: space-between;
    align-items: center;
	overflow: hidden;
	background-color: #333;
	padding-left: 10px;
	z-index: 1000;
	
  }
  
  .icons {
    display: flex;
    align-items: center;
  }

  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding:16px;
	height: 50px;
	text-decoration: none;
	font-size: 17px;
  }
  
  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }
  
  #navbar a.active {
	background-color: #8a918e;
	color: white;
  }
  
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  
  .sticky + .projects_and_experiences {
	padding-top: 250px;
  }

  .languagestyle {
    margin-top: 5%;
}

#navbar .goog-te-gadget {
    /* display: flex; */
    font-family: arial;
    font-size: 5px;
    color: #666;
    white-space: nowrap
}
#navbar .VIpgJd-ZVi9od-l4eHX-hSRGPd  {
		padding-top: 0;
	}

  /*3. sidebar */
  #openside {
	position: absolute;
	height:50px;
	width: 50px;
	left: 0;
  }

  #sidebar {
	display: none;
	width: 10%;
  }
  
  #sidebar.opened {
	display: block;
  }
  
  /* 4. MAIN */
  #main{
	margin-left:10%;
	margin-right:10%;
	background-color: #d8d5d5;
	display: flex;
	flex-direction: column;
  }

  #home_image {
	width: 25%;
	margin-top: 8%;
	margin-right: 1%;
	border-style:groove
  }
  
  #general_information {
	display: flex;
	padding : 20px;
	align-items: center;
		h1 {
			text-align: center;
			margin-top: 0%;
		}
		
		p {
			text-align: justify;
		}
	}

  .separator {
	background-color: #b0a9a9;
	padding: 16px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	align-items: center;
	font-weight:bold;
	scroll-margin-top: 10vh;
	margin-top:7%;
	text-align: center;
}

/* POST */
  #main > .posts {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-align-items: -moz-stretch;
	-webkit-align-items: -webkit-stretch;
	-ms-align-items: -ms-stretch;
	align-items: stretch;
	text-align: center;
	width: 100%;
	padding: 0;
}

	#main > .posts > * {
		-moz-flex-shrink: 1;
		-webkit-flex-shrink: 1;
		-ms-flex-shrink: 1;
		flex-shrink: 1;
		-moz-flex-grow: 0;
		-webkit-flex-grow: 0;
		-ms-flex-grow: 0;
		flex-grow: 0;
	}

	#main > .posts > * {
		width: 50%;
	}

	#main > .posts > * {
		padding: 4rem;
		width: 50%;
	}

	#main > .posts > article {
		border-color: #eeeeee;
		border-left-width: 2px;
		border-style: solid;
		border-top-width: 2px;
		text-align: justify;
	}

	#main > .posts > article ul.keywords,
	ul.key-skills,
	ul.actions.special {
	padding-inline-start: 0; 
	}
	ul.actions.special {
		text-align: center;
	  }

	/* from Javascript */
	ul.keywords {
		height: var(--max-keywords-height);
	 }

	#article_header{
		text-align: center;
	  }

		#main > .posts > article > :last-child {
			margin-bottom: 0;
		}

		#main > .posts > article:nth-child(2n - 1) {
			border-left-width: 0;
		}

		#main > .posts > article:nth-child(-n + 2) {
			border-top-width: 0;
		}

	@media screen and (max-width: 980px) {

		#main > .posts > * {
			width: 50%;
		}

		#main > .posts > * {
			padding: 2.5rem;
			width: 50%;
		}

	}

	@media screen and (max-width: 736px) {

		#main > .posts > * {
			width: 100%;
		}

		#main > .posts > * {
			padding: 2rem;
			width: 100%;
		}

		#main > .posts > article:nth-child(2n - 1) {
			border-left-width: 2px;
		}

		#main > .posts > article:nth-child(-n + 2) {
			border-top-width: 2px;
		}

		#main > .posts > article:nth-child(n) {
			border-left-width: 0;
		}

		#main > .posts > article:nth-child(-n + 1) {
			border-top-width: 0;
		}

		#main > .posts > article .image {
			max-width: 25rem;
			margin-left: auto;
			margin-right: auto;
		}

	}
    
	.image {
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			margin: 0 2rem 2rem 0;
			top: 0.75rem;
		}

		.image.right {
			float: right;
			margin: 0 0 2rem 2rem;
			top: 0.75rem;
		}

		.image.fit {
			display: block;
			margin: 2.5rem 0;
			width: 100%;

		}


			.image.fit img {
				width: 100%;
			}

		.image.main {
			display: block;
			margin: 4rem 0;
			width: 100%;
		}

			.image.main:first-child {
				margin-top: 0;
			}

			.image.main img {
				width: 100%;
			}

		@media screen and (max-width: 736px) {

			.image.fit {
				margin: 2rem 0;
			}

			.image.main {
				margin: 2rem 0;
			}

		}

	a.image {
		overflow: hidden;
	}

		a.image img {
			-moz-transition: -moz-transform 0.2s ease-out;
			-webkit-transition: -webkit-transform 0.2s ease-out;
			-ms-transition: -ms-transform 0.2s ease-out;
			transition: transform 0.2s ease-out;
		}

		a.image:hover img {
			-moz-transform: scale(1.05);
			-webkit-transform: scale(1.05);
			-ms-transform: scale(1.05);
			transform: scale(1.05);
		}

		#footer {
			display: -moz-flex;
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
			background-color: #d8d5d5;
			color: #909498;
			cursor: default;
			position: relative;
			margin-left: 10%;
			margin-right: 10%;
			/* width: calc(100% - 4rem); */
			/* max-width: 72rem; */
			z-index: 2;
			scroll-margin-top: 10vh;
		}
	
			#footer input, #footer select, #footer textarea {
				color: #717981;
			}
	
			#footer a {
				color: #717981;
				border-bottom-color: rgba(113, 121, 129, 0.5);
			}
	
				#footer a:hover {
					border-bottom-color: transparent;
					color: #18bfef !important;
				}
	
			#footer strong, #footer b {
				color: #717981;
			}
	
			#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
				color: #717981;
			}
	
			#footer blockquote {
				border-left-color: #e2e2e2;
			}
	
			#footer code {
				background: rgba(220, 220, 220, 0.5);
				border-color: #e2e2e2;
			}
	
			#footer hr {
				border-bottom-color: #e2e2e2;
			}
	
			#footer .box {
				border-color: #e2e2e2;
			}
	
			#footer input[type="submit"],
			#footer input[type="reset"],
			#footer input[type="button"],
			#footer button,
			#footer .button {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px #717981;
				color: #717981 !important;
			}
	
				#footer input[type="submit"]:hover,
				#footer input[type="reset"]:hover,
				#footer input[type="button"]:hover,
				#footer button:hover,
				#footer .button:hover {
					box-shadow: inset 0 0 0 2px #18bfef;
					color: #18bfef !important;
				}
	
				#footer input[type="submit"].primary,
				#footer input[type="reset"].primary,
				#footer input[type="button"].primary,
				#footer button.primary,
				#footer .button.primary {
					background-color: #717981;
					box-shadow: none;
					color: #f5f5f5 !important;
				}
	
					#footer input[type="submit"].primary:hover,
					#footer input[type="reset"].primary:hover,
					#footer input[type="button"].primary:hover,
					#footer button.primary:hover,
					#footer .button.primary:hover {
						background-color: #18bfef;
					}
	
			#footer label {
				color: #717981;
			}
	
			#footer input[type="text"],
			#footer input[type="password"],
			#footer input[type="email"],
			#footer select,
			#footer textarea {
				border-color: #e2e2e2;
			}
	
				#footer input[type="text"]:focus,
				#footer input[type="password"]:focus,
				#footer input[type="email"]:focus,
				#footer select:focus,
				#footer textarea:focus {
					border-color: #18bfef;
				}
	
			#footer select {
				background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23e2e2e2' /%3E%3C/svg%3E");
			}
	
				#footer select option {
					background-color: #f5f5f5;
					color: #717981;
				}
	
			#footer .select-wrapper:before {
				color: #e2e2e2;
			}
	
			#footer input[type="checkbox"] + label,
			#footer input[type="radio"] + label {
				color: #717981;
			}
	
				#footer input[type="checkbox"] + label:before,
				#footer input[type="radio"] + label:before {
					border-color: #e2e2e2;
				}
	
			#footer input[type="checkbox"]:checked + label:before,
			#footer input[type="radio"]:checked + label:before {
				background-color: #717981;
				border-color: #717981;
				color: #f5f5f5;
			}
	
			#footer input[type="checkbox"]:focus + label:before,
			#footer input[type="radio"]:focus + label:before {
				border-color: #18bfef;
			}
	
			#footer ::-webkit-input-placeholder {
				color: #b3b7bb !important;
			}
	
			#footer :-moz-placeholder {
				color: #b3b7bb !important;
			}
	
			#footer ::-moz-placeholder {
				color: #b3b7bb !important;
			}
	
			#footer :-ms-input-placeholder {
				color: #b3b7bb !important;
			}
	
			#footer .formerize-placeholder {
				color: #b3b7bb !important;
			}
	
			#footer ul.divided li {
				border-top-color: #e2e2e2;
			}
	
			#footer ul.icons li a.icon:hover:before {
				color: #18bfef;
			}
	
			#footer ul.icons.alt li .icon:before {
				box-shadow: inset 0 0 0 2px #e2e2e2;
			}
	
			#footer ul.icons.alt li a.icon:hover:before {
				box-shadow: inset 0 0 0 2px #18bfef;
			}
	
			#footer header.major .date:before, #footer header.major .date:after {
				border-top-color: #e2e2e2;
			}
	
			#footer table tbody tr {
				border-color: #e2e2e2;
			}
	
				#footer table tbody tr:nth-child(2n + 1) {
					background-color: rgba(220, 220, 220, 0.5);
				}
	
			#footer table th {
				color: #717981;
			}
	
			#footer table thead {
				border-bottom-color: #e2e2e2;
			}
	
			#footer table tfoot {
				border-top-color: #e2e2e2;
			}
	
			#footer table.alt tbody tr td {
				border-color: #e2e2e2;
			}
	
			#footer .pagination a, #footer .pagination span {
				border-color: #e2e2e2;
			}
	
			#footer .pagination a {
				color: #717981 !important;
			}
	
				#footer .pagination a:hover {
					color: #18bfef !important;
					border-color: #18bfef;
					z-index: 1;
				}
	
					#footer .pagination a:hover + a,
					#footer .pagination a:hover + span {
						border-left-color: #18bfef;
					}
	
				#footer .pagination a.active {
					background-color: #e2e2e2;
				}
	
			#footer .pagination span {
				color: #e2e2e2;
			}
	
			#footer > section {
				-moz-flex-basis: 50%;
				-webkit-flex-basis: 50%;
				-ms-flex-basis: 50%;
				flex-basis: 50%;
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				padding: 4rem 4rem 2rem 4rem ;
				border-left: solid 2px #e2e2e2;
			}
	
				#footer > section:first-child {
					border-left: 0;
				}
	
				#footer > section.split {
					display: -moz-flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-moz-flex-direction: column;
					-webkit-flex-direction: column;
					-ms-flex-direction: column;
					flex-direction: column;
					padding: 0;
				}
	
					#footer > section.split > section {
						padding: 3rem 4rem 1rem 4rem ;
						border-top: solid 2px #e2e2e2;
					}
	
						#footer > section.split > section:first-child {
							padding: 5rem 4rem 1rem 4rem ;
							border-top: 2;
						}
	
						#footer > section.split > section:last-child {
							padding: 3rem 4rem 3rem 4rem ;
						}
	
					#footer > section.split.contact > section {
						display: -moz-flex;
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						-moz-align-items: center;
						-webkit-align-items: center;
						-ms-align-items: center;
						align-items: center;
						padding: 3.15rem 4rem;
					}
	
						#footer > section.split.contact > section > * {
							margin-bottom: 0;
						}
	
						#footer > section.split.contact > section > :first-child {
							-moz-flex-shrink: 0;
							-webkit-flex-shrink: 0;
							-ms-flex-shrink: 0;
							flex-shrink: 0;
							-moz-flex-grow: 0;
							-webkit-flex-grow: 0;
							-ms-flex-grow: 0;
							flex-grow: 0;
							width: 6rem;
						}
	
						#footer > section.split.contact > section > :last-child {
							-moz-flex-shrink: 1;
							-webkit-flex-shrink: 1;
							-ms-flex-shrink: 1;
							flex-shrink: 1;
							-moz-flex-grow: 1;
							-webkit-flex-grow: 1;
							-ms-flex-grow: 1;
							flex-grow: 1;
						}
	
						#footer > section.split.contact > section:first-child {
							padding: 4rem 4rem 3rem 4rem;
						}
	
						#footer > section.split.contact > section:last-child {
							padding: 3rem 4rem 4rem 4rem;
						}
	
						#footer > section.split.contact > section.alt {
							-moz-align-items: -moz-flex-start;
							-webkit-align-items: -webkit-flex-start;
							-ms-align-items: -ms-flex-start;
							align-items: flex-start;
						}
	
							#footer > section.split.contact > section.alt > :last-child {
								margin-top: -0.325rem;
							}
	
			#footer form label,
			#footer h3,
			#footer p {
				font-size: 0.8rem;
			}
	
			@media screen and (max-width: 980px) {
	
				#footer {
					display: block;
				}
	
					#footer > section {
						border-top: solid 2px #e2e2e2;
					}
	
						#footer > section:first-child {
							border-top: 0;
						}
	
						#footer > section.split > section {
							padding: 4rem 4rem 2rem 4rem ;
						}
	
							#footer > section.split > section:first-child {
								padding: 4rem 4rem 2rem 4rem ;
							}
	
							#footer > section.split > section:last-child {
								padding: 4rem 4rem 2rem 4rem ;
							}
	
						#footer > section.split.contact > section {
							padding: 4rem;
						}
	
							#footer > section.split.contact > section:first-child {
								padding: 4rem;
							}
	
							#footer > section.split.contact > section:last-child {
								padding: 4rem;
							}
	
					#footer form label,
					#footer h3,
					#footer p {
						font-size: 0.9rem;
					}
	
			}
	
			@media screen and (max-width: 736px) {
	
				#footer > section {
					padding: 2rem 2rem 0.1rem 2rem ;
				}
	
					#footer > section.split > section {
						padding: 2rem 2rem 0.1rem 2rem ;
					}
	
						#footer > section.split > section:first-child {
							padding: 2rem 2rem 0.1rem 2rem ;
						}
	
						#footer > section.split > section:last-child {
							padding: 2rem 2rem 0.1rem 2rem ;
						}
	
					#footer > section.split.contact > section {
						padding: 2rem;
					}
	
						#footer > section.split.contact > section:first-child {
							padding: 2rem;
						}
	
						#footer > section.split.contact > section:last-child {
							padding: 2rem;
						}
	
			}
	
			@media screen and (max-width: 480px) {
	
				#footer {
					width: 100%;
				}
	
			}
	
		#copyright {
			color: #ffffff;
			position: relative;
			color: rgba(255, 255, 255, 0.25);
			cursor: default;
			font-family: "Source Sans Pro", Helvetica, sans-serif;
			font-size: 0.8rem;
			font-weight: 900;
			letter-spacing: 0.075em;
			line-height: 1.5;
			text-align: center;
			text-transform: uppercase;
			margin: 4rem auto 8rem auto;
			width: calc(100% - 4rem);
			max-width: 72rem;
			z-index: 2;
		}
	
			#copyright input, #copyright select, #copyright textarea {
				color: #ffffff;
			}
	
			#copyright a {
				color: #ffffff;
				border-bottom-color: rgba(255, 255, 255, 0.5);
			}
	
				#copyright a:hover {
					border-bottom-color: transparent;
					color: #18bfef !important;
				}
	
			#copyright strong, #copyright b {
				color: #ffffff;
			}
	
			#copyright h1, #copyright h2, #copyright h3, #copyright h4, #copyright h5, #copyright h6 {
				color: #ffffff;
			}
	
			#copyright blockquote {
				border-left-color: #ffffff;
			}
	
			#copyright code {
				background: rgba(255, 255, 255, 0.075);
				border-color: #ffffff;
			}
	
			#copyright hr {
				border-bottom-color: #ffffff;
			}
	
			#copyright a {
				color: inherit;
				border-bottom-color: inherit;
			}
	
			#copyright ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}
	
				#copyright ul li {
					border-left: solid 2px;
					display: inline-block;
					line-height: 1;
					margin-left: 1rem;
					padding-left: 1rem;
				}
	
					#copyright ul li:first-child {
						border-left: 0;
						margin-left: 0;
						padding-left: 0;
					}
	
			@media screen and (max-width: 1280px) {
	
				#copyright {
					margin: 4rem auto;
				}
	
			}
	
			@media screen and (max-width: 480px) {
	
				#copyright ul li {
					border-left: 0;
					margin: 1rem 0 0 0;
					padding-left: 0;
					display: block;
				}
	
					#copyright ul li:first-child {
						margin-top: 0;
					}
	
			}
/* Icon */
			.icon.footer {
				padding-left: 0px;
				text-decoration: none;
				border-bottom: none;
				position: relative;
			}
				.icon:before {
					-moz-osx-font-smoothing: grayscale;
					-webkit-font-smoothing: antialiased;
					display: inline-block;
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					line-height: 1;
					text-transform: none !important;
					font-family: 'Font Awesome 5 Free';
					font-weight: 400;
				}
		
				.icon > .label {
					display: none;
				}
		
				.icon:before {
					line-height: inherit;
				}
		
				.icon.solid:before {
					font-weight: 900;
				}
		
				.icon.brands:before {
					font-family: 'Font Awesome 5 Brands';
				}

				.fa.fa-lg.fa-envelope {
					height: 0px;
				} 

				.icon.footer .icon.brands.fa-linkedin {
					padding-right: 10px;
				  }
